<div class="top-nav">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
      <img class="brand-img" src="../../../assets/logo.png" alt="org logo">
    </a>
    <div class="collapse navbar-collapse nav-bar" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div class="user-cart">
        <div class="cart">
          <p>Welcome</p>
          <p>Admin</p>
        </div>
      </div>
      <div class="user-profile">
        <div class="profile-img"></div>
      </div>
    </div>
  </nav>
</div>
