.price-card-wrapper {
  background-color: #776FC3;
  border-radius: 56px;
  margin-top: 2em;
}

.pricing-card {
  height: 35em;
  padding: 5em;
}

.table-cols {
  padding: 1em;
  color: white;
  font-size: 21px;
  font-weight: 400;
  border-bottom: 1px solid #dee2e6;
  border-top: none !important;
  vertical-align: inherit !important;
}

.tr-cols {
  padding: 2em;
  color: white;
  font-size: 20px;
  font-weight: 100;
}
