.white-container {
  background-color: white;
  min-height: stretch;
  max-height: max-content;
  margin: 0 auto;
}

.top-nav-wrapper {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 0.5em .8em;
}

.shop-content-wrapper {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 2.5em 0.8em;
  display: flex;
}

.prod-list-wrapper {
  //margin: 0px 25px 0px 25px;
}


.prod-list-header {
  display: flex;

  .header {
    h1 {
      font-size: 80px;
      color: #473889;
    }

    .secondary-header {
      padding-top: 1.5em;
      padding-top: 1.5em;
      font-weight: 200;

      p {
        font-size: 29px;
        color: #473889;
      }
    }
  }

  .filter-container {
    padding-left: 13em;

    .filter-wrapper {
      border-radius: 50%;
      width: 5em;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 5px 5px rgba(50, 50, 50, 0.23);

      .filter {
        font-size: 35px;
      }
    }
  }
}




.price-list-wrapper {
  //margin: 0px 25px 0px 25px;

  .price-list-header {
    .header {
      h1 {
        font-size: 80px;
        color: #473889;
      }

      .secondary-header {
        padding-top: 1.5em;
        font-weight: 200;

        p {
          font-size: 29px;
          color: #473889;
        }
      }
    }
  }
}
