<div class="white-container">
  <div class="top-nav-wrapper">
    <app-top-nav></app-top-nav>
  </div>
  <div class="shop-content-wrapper">
    <div class="prod-list-wrapper col-lg-6">
      <div class="prod-list-header">
        <div class="header">
          <h1>Subscribers</h1>
          <div class="secondary-header">
            <p>List of all the subscribers</p>
          </div>
        </div>
        <div class="filter-container">
          <div class="filter-wrapper">
            <div class="filter">
              <fa-icon [icon]="['fas','plus']" data-toggle="modal" data-target="#exampleModalCenter"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="prod-card-wrapper">
        <app-subscriber-card></app-subscriber-card>
      </div>
    </div>
    <div class="price-list-wrapper col-lg-6">
      <div class="price-list-header">
        <div class="header">
          <h1>Voice Mail</h1>
          <div class="secondary-header">
            <p>List of all the voicemails</p>
          </div>
        </div>
      </div>
      <div class="price-card-wrapper">
        <app-voicemail-card></app-voicemail-card>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Add Subscriber</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addSubscriberForm">
          <div class="form-group">
            <input class="form-control form-inputs" type="number" formControlName="msisdn" placeholder="Mobile no">
          </div>
          <div class="form-group">
            <input class="form-control form-inputs" type="password" formControlName="pin" placeholder="PIN">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary submit-btn-1" (click)="addSubscriber()"
          data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
