<div class="white-container">
  <div class="top-nav-wrapper">
    <app-top-nav></app-top-nav>
  </div>
  <div class="shop-content-wrapper">
    <div class="prod-list-wrapper col-lg-6">
      <div class="prod-list-header">
        <div class="header">
          <h1>Subscribers</h1>
          <div class="secondary-header">
            <p>List of all the subscribers</p>
          </div>
        </div>
        <div class="filter-container">
          <div class="filter-wrapper">
            <div class="filter">
              <fa-icon [icon]="['fas','plus']"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="prod-card-wrapper">
        <app-subscriber-card></app-subscriber-card>
      </div>
    </div>
    <div class="price-list-wrapper col-lg-6">
      <div class="price-list-header">
        <div class="header">
          <h1>Voice Mail</h1>
          <div class="secondary-header">
            <p>List of all the voicemails</p>
          </div>
        </div>
      </div>
      <div class="price-card-wrapper">
        <app-voicemail-card></app-voicemail-card>
      </div>
    </div>
  </div>
</div>
